@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  height: 100vh;
  margin: 0;
  font-family: "Raleway", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.nav-container {
  background: #6fa798;
}

.nav-container a {
  color: #fff;
}

header {
  font-size: 0.8em;
  display: flex;
  justify-content: space-around;
  padding: 2em;
}

header .logo {
  color: #0e5441;
  font-weight: 700;
}

header ul {
  display: flex;
}

header ul a {
  display: block;
  padding: 0 1em;
}

.featured img {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.social-header,
.hero-design {
  display: none;
}

.hero-footer {
  display: none;
}

.hero {
  background: #bcd6cf;
  color: #fff;
  display: grid;
  text-align: center;
  padding: 4em;
}

.hero h1 {
  font-weight: 100;
}

.meet {
  display: flex;
  margin: 0 auto;
  width: 200px;
  font-weight: 700;
  color: #0e5441;
}

.meet span {
  font-size: 2em;
  margin-top: 1em;
  margin-right: 0.5em;
}

.scroll {
  width: 30px;
  margin-top: 2em;
}

section {
  padding: 4em 2em;
  text-align: left;
}

.featured {
  position: relative;
}

.featured img {
  border-radius: 1em;
}

.featured::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #e7f0ee;
  top: 0;
  left: 0;
  z-index: -1;
}

.subtitle {
  text-transform: uppercase;
  font-weight: 900;
  color: #0e5441;
  letter-spacing: 0.9em;
  font-size: 0.8em;
}

.featured-title {
  color: #6fa798;
  font-weight: 100;
  font-size: 2em;
  margin-top: -0.5em;
  display: block;
  line-height: 0.9em;
}

.featured-desc {
  color: #6fa798;
  margin: 0 2px;
  margin-bottom: 1em;
  font-size: 1.5em;
  line-height: 1.3em;
  font-weight: 500;
}

.skills {
  background: #7ab85c;
  align-items: center;
}

.portfolio img {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.skills-container ul li {
  background: #fff;
  padding: 1em;
  border-radius: 1em;
  margin-bottom: 1em;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.skills-container ul li .icon-container {
  height: 100px;
  display: grid;
  place-content: center;
  margin: 0 auto;
}

.skills-container ul li .icon-container img {
  width: 110px;
}

.skills-container ul li .skill-title {
  font-size: 1.5em;
  text-align: center;
  font-weight: 700;
  color: #12a89d;
}

.skills-container ul li .skill-desc {
  font-size: 1em;
}

.portfolio {
  background: #e7f0ee;
}

.portfolio-container a img {
  border-radius: 1em;
  margin-bottom: 2em;
}

@media only screen and (min-width: 800px) {
  .featured,
  .portfolio {
    text-align: left;
  }
  .featured-title {
    color: #6fa798;
    font-weight: 200;
    font-size: 2.3em;
    margin-top: -0.5em;
    display: block;
  }
  .featured-desc {
    color: #6fa798;
    margin: 0 2px;
    top: 2.3em;
    font-size: 1em;
    line-height: 1.3em;
    font-weight: 300;
  }
  .featured,
  .portfolio-container {
    display: grid;
    grid-template-columns: 50% auto;
  }
  .left,
  .portfolio-left {
    display: grid;
    place-content: center;
  }
  .right {
    margin-left: 2em;
    margin-top: 1em;
  }
  .portfolio-container a img {
    height: 280px;
  }
  .skills {
    margin-top: -5em;
    margin-bottom: -7em;
    padding-top: 2em;
  }
  .skills-container ul {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 1em;
  }
  .portfolio {
    padding-top: 7em;
  }
  .portfolio-container img {
    margin-left: 0;
  }
  .featured-title {
    font-size: 2em;
    line-height: 1em;
  }
  .hero h1 {
    font-size: 6em;
  }
}

@media only screen and (min-width: 1050px) {
  .hero {
    height: 90vh;
  }
  .nav-container {
    display: grid;
    grid-template-columns: 66% auto;
    background: unset;
  }
  .nav-container header {
    background: #6fa798;
  }
  header {
    padding: 2em 2em 2em 2em;
  }
  .social-header {
    padding: 2em 2em 2em 0;
  }
  section {
    padding: 4em;
  }
  .social-header {
    display: block;
    background: #e7f0ee;
  }
  .social-header ul {
    display: flex;
    justify-content: space-between;
    width: 7em;
    float: right;
  }
  .social-header ul img {
    width: 50px;
  }
  .hero {
    display: grid;
    grid-template-columns: 66% auto;
    background: unset;
    padding: 0;
  }
  .hero .content {
    background: #bcd6cf;
    padding: 6em 8em 6em 4em;
    text-align: left;
  }
  .hero .content h1 {
    font-size: 7em;
  }
  .meet {
    margin: unset;
  }
  .hero-design {
    display: unset;
    margin-left: -50%;
    margin-top: 15%;
    width: 100%;
  }
  .portfolio img {
    float: right;
    max-width: 600px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
}

@media only screen and (min-width: 1250px) {
  header {
    padding: 2em 2em 2em 10em;
  }
  .social-header {
    padding: 1em 10em 0em 0em;
  }
  .left,
  .portfolio-left {
    display: grid;
    place-content: center;
    font-size: 1.5em;
  }
  section .portfolio {
    width: 60%;
  }
  h1 {
    font-size: 11em;
  }
  .social-header li {
    color: #0e5441;
    font-size: 2em;
    padding: 10px;
  }
  header a {
    font-size: 2em;
    font-weight: 100;
    color: #7ab85c;
  }
  header a:hover {
    font-weight: 500;
    color: #0e5441;
  }
  section {
    padding: 10em 10em 4em 10em;
  }
  .hero .content {
    padding: 6em 8em 6em 10em;
  }
  .featured img {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
  .featured img {
    border-radius: 1em;
  }
  .featured::before {
    content: "";
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: #e7f0ee;
    left: 0;
    z-index: -1;
  }
  .inner,
  .transition2 .subtitle {
    font-size: 2.2 em;
  }
  .skills-container ul li {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    width: 400px;
    align-items: center;
    margin-right: 0;
    padding-right: 0;
  }
  .hero-design-small {
    width: 600px;
    position: relative;
    bottom: 360px;
    left: 900px;
  }
  section .footer {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    height: auto;
  }
  .skills {
    margin: 0;
    padding-left: 150px;
  }
  .transition2 ul li {
    height: 100px;
  }
}

@media only screen and (min-width: 1550px) {
  header {
    padding: 2em 2em 2em 20em;
  }
  .social-header {
    padding: 0em 5em 0em 0em;
  }
  h1 {
    font-size: 11em;
  }
  .hero h1 {
    font-size: 13em;
  }
  .social-header {
    font-size: 1.5em;
    color: #0e5441;
  }
  header a {
    font-size: 2em;
    font-weight: 100;
    color: #7ab85c;
  }
  header a:hover {
    font-weight: 500;
    color: #0e5441;
  }
  section {
    padding: 6em 10em 4em 20em;
  }
  .hero .content {
    padding: 9em 10em 6em 20em;
  }
  .inner,
  .transition2 .subtitle {
    font-size: 3.2 em;
  }
  .hero-footer {
    display: unset;
    margin-left: 33%;
    margin-top: -6%;
  }
  .portfolio-container a img {
    margin: 0;
    width: 550px;
    height: 300px;
  }
  .portfolio-container {
    width: 90%;
    height: 400px;
  }
  .inner .subtitle {
    padding: 20px 0;
    margin: 0;
  }
  .portfolio-container a img {
    width: 810px;
    margin: 0 0;
  }
}

.footer-basic {
  padding: 40px 0;
  background-color: #6fa798;
  color: #e7f0ee;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #fff;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
  color: #0e5441;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #fff;
  margin-bottom: 0;
}
